.footer {
    background-color: #333;
    padding: 5rem 0;
    font-size: 1.4rem;
    color: #f7f7f7;
    margin-top: 0rem; }
    .footer__logo-box {
      text-align: center;
      margin-bottom: 8rem; }
    .footer__logo {
      display: inline-block;
      background-image: linear-gradient(to right, #5CDB95, #379683);
      -webkit-background-clip: text;
      color: transparent;
      height: 14rem; }
    .footer__heading-secondary {
      margin-top: -.2rem;
      font-size: 3rem;
      font-weight: 700;
      background-image: linear-gradient(to right, #5CDB95, #379683);
      -webkit-background-clip: text;
      color: transparent; }
    .footer__navigation {
      border-top: 1px solid #777;
      padding-top: 2rem;
      display: inline-block; }
    .footer__list {
      list-style: none; }
    .footer__item {
      display: inline-block; }
      .footer__item:not(:last-child) {
        margin-right: 1.5rem; }
    .footer__link:link, .footer__link:visited {
      color: #f7f7f7;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      transition: all .2s; }
    .footer__link:hover, .footer__link:active {
      color: #00BBF0;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(5deg) scale(1.3); }
    .footer__copyright {
      border-top: 1px solid #777;
      padding-top: 2rem;
      display: inline-block;
      width: 80%;
      float: right; }
  